.promo-register {
  margin: 80px 30px;
  border-radius: 40px;
  background: linear-gradient(180deg, #0a1d5f 0%, #3374f8 100%);
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 65% 35%;
}

.promo-register-left {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.info p {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.4px;
  font-family: var(--font-font, "Open Sans");
}

.info p:last-child {
  font-size: 20px;
}

.info h1 {
  color: #fff;
  text-shadow: 3px 2px 0 #285bc6;
  font-family: var(--font-font, "Open Sans");
  -webkit-text-stroke: 2px #2d67dd;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.clock-countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 100px 0px 30px;
}

.clock-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.clock-item p {
  color: #fff;
  font-family: var(--font-font, "Open Sans");
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.clock-item p:last-child {
  font-size: 60px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: var(--font-font, "Open Sans");
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  font-size: 16px;
  font-weight: 400;
}

.field > input,
select {
  border-radius: 4px;
  background: #fff;
  height: 35px;
  font-size: 20px;
  padding-left: 5px;
}

.field select {
  appearance: none;
  background-image: url("../img/ArrowDropDown.svg");
  background-repeat: no-repeat;
  background-position: center right 5px;
}

.field:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field:last-child p {
  font-size: 18px;
  font-weight: 700;
}

.field:last-child .option-name {
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price .old {
  display: flex;
  align-items: center;
  width: 77px;
  height: 16px;
  font-size: 10px;
  color: #1e293b;
  border-radius: 4px;
  background: #d6e4fd;
  padding-left: 5px;
  margin-right: -2px;
  z-index: 1;
}

.price .new {
  display: flex;
  align-items: center;
  width: 148px;
  height: 25px;
  font-size: 14px;
  border-radius: 4px;
  background: linear-gradient(180deg, #f48740 0%, #f36c13 100%);
  padding-left: 10px;
}

.field button {
  border-radius: 8px;
  background: #f37829;
  border: none;
  height: 56px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.field button:hover {
  background: #1b63c9;
}
