/* Programing Skills */

.programming-skills {
    background: #F1F5F9;
    padding: 40px 20px;
    margin-top: 60px !important;
    max-width: 1552px;
    margin: auto;
}

.ps-accordion {
  height: 300px;
}

.ps-container {
    position: relative;
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
}

.ps-left {
    width: 70%;
    z-index: 1;
    position: relative;
}

.ps-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.4px;
    margin-bottom: 4%;
    background: linear-gradient(180deg, #0A1D5F 0%, #3374F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 68%;
}

.ps-title span {
    color: #346DFF;
}

.ps-accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.ps-item {
    overflow: hidden;
    cursor: pointer;
    border-bottom: 3px solid rgba(71, 85, 105, 0.15);
    padding: 12px 0;
}

.ps-item:last-child {
    border-bottom: none;
}

.ps-header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: #1E293B;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.ps-header img {
    margin-right: 20px;
}

.ps-header::after {
    content: url("../img/arrow-down.svg");
    position: absolute;
    right: 20px;
    font-size: 18px;
    transition: transform 0.3s;
}

.ps-item.active .ps-header::after {
    transform: rotate(180deg);
}

.ps-content {
    padding: 0 20px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.4s ease;
    color: #1E293B;
    font-size: 16px;
    font-weight: 400;
    
}

.ps-item.active .ps-content {
    max-height: 200px;
    padding: 0 20px 20px 55px;
}

.ps-right {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    z-index: 0;
    width: 60%;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
}

.ps-image {
    width: 100%;
    max-width: 900px;
    height: auto;
    object-fit: contain;
}
/* End Programing Skills */



/* ------------------------------------------------------- */
/* Study Object */

.target-section {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 60px !important;
    margin-bottom: -3%;
    max-width: 1552px;
    margin: auto;
    flex-direction: column;
}

.target-image {
    width: 80%;
    height: auto;
    flex: 1;
    margin-left: 3%;
    margin-top: -12%;
}

.tartget-description {
    display: flex;
}

.target-list {
    padding-left: 20px;
    list-style-type: none;
    position: relative;
    margin-left: -15%;
    margin-top: 5%;
    z-index: 2;
    width: 80%;
}

.target-list li {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    padding: 10px;
    color: var(--Sys-On-surface-on-surface, #1E293B);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.target-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.target-list li:nth-child(1) { padding-left: 10px; }
.target-list li:nth-child(2) { padding-left: 50px; }
.target-list li:nth-child(3) { padding-left: 90px; }
.target-list li:nth-child(4) { padding-left: 50px; }
.target-list li:nth-child(5) { padding-left: 10px; }

.section-title {
    z-index: 3;
    background: linear-gradient(180deg, #0A1D5F 0%, #3374F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 56px;
}



/* End Study Object */

/*-------------------------------------------------------- */
        /* Section chứa các khóa học */
.course-section {
    max-width: 1552px;
    margin: auto;
}

.course-section h2, .course-section .course-container {
    margin: 0 40px;
}

.background-course {
  background: url("../img/background-courses.png") no-repeat center center;
  background-size: contain;
  min-height: 400px;
  z-index: -1;
  margin-top: -16.7%;
  padding: 0;
  margin-bottom: -5%;
}

.course-section h2 {
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 67px;
  text-align: start;
  font-weight: 700;
  font-style: normal;
  background: linear-gradient(180deg, #0A1D5F 0%, #3374F8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
}

.course-card {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    padding: 15px;
}

.course-card.isShow{
    transform: scale(1.3);
    box-shadow: 5px 15px 6px rgba(0, 0, 0, 0.15);
}

.course-card img {
    width: 100%;
    height: auto;
    display: block;
}

.course-card p {
  margin-top: 15px;
  color: #333;;
  color: var(--Sys-On-surface-on-surface, #1E293B);
  font-size: 19.015px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.38px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btnPrev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.btnNext{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.viewMoreBtn{
    position: absolute;
    top: -90px;
    right: 10px;
}
.viewMoreBtn p{
    color: #1b7bf3;
    font-size: 14px;
    font-weight: 600;
}

.nav-btn {
  background: #e0e7ff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #1a73e8;
  cursor: pointer;
}

.nav-btn:hover {
  background: #d0dffd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navigation {
    margin-top: 70px;
}

.navigation_current{
    width: 60px ;
    height: 10px;
    border-radius: 4px;
    background-color: #0e307a
}

.navigation_next{
    width: 20px ;
    height: 10px;
    border-radius: 4px;
    background-color: #cbd5e1;
}
